/**
 * @file
 * Yac toolbar icon styling.
 */

/* Bar styling (first row), currently unused. */
.toolbar-bar .toolbar-icon-yac-admin-yac:before {
    background-image: url("../assets/icons/ic_contacts_black_48px.svg");
}
.toolbar-bar .toolbar-icon-yac-admin-yac:active:before {
    background-image: url("../assets/icons/ic_contacts_black_48px.svg");
}

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-yac-admin-yac:before {
    background-image: url("../assets/icons/ic_contacts_black_48px.svg");
}
.toolbar-tray .toolbar-icon.toolbar-icon-yac-admin-yac:active:before {
    background-image: url("../assets/icons/ic_contacts_black_48px.svg");
}
